# 
pandas

# tabpfn


# pyqlib
# pyqlib==0.9.6
-e ./third_parties/qlib
# autogluon
autogluon==1.3.1

feature-engine
# 特殊安装
# thundersvm
# tabpfn


# 数据分析
# dev 阶段
akshare
ydata-profiling
dtreeviz
# 自动
# -r requirements-freeze.txt